ansible-compat==2.2.6 ; python_version >= "3.10" and python_version < "4.0"
ansible-core==2.16.3 ; python_version >= "3.10" and python_version < "4.0"
ansible-lint==6.8.7 ; python_version >= "3.10" and python_version < "4.0"
ansible==9.1.0 ; python_version >= "3.10" and python_version < "4.0"
arrow==1.2.3 ; python_version >= "3.10" and python_version < "4.0"
astroid==2.12.13 ; python_version >= "3.10" and python_version < "4.0"
attrs==22.1.0 ; python_version >= "3.10" and python_version < "4.0"
binaryornot==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
black==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
bracex==2.3.post1 ; python_version >= "3.10" and python_version < "4.0"
certifi==2022.9.24 ; python_version >= "3.10" and python_version < "4"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
cfgv==3.3.1 ; python_version >= "3.10" and python_version < "4.0"
chardet==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "4"
click-help-colors==0.9.1 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
commonmark==0.9.1 ; python_version >= "3.10" and python_version < "4.0"
cookiecutter==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
cryptography==42.0.4 ; python_version >= "3.10" and python_version < "4.0"
dill==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
distlib==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
distro==1.8.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux" or python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux2"
docker==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
enrich==1.2.7 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.8.2 ; python_version >= "3.10" and python_version < "4.0"
flake8==6.0.0 ; python_version >= "3.10" and python_version < "4.0"
identify==2.5.9 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4"
importlib-resources==5.10.1 ; python_version >= "3.10"
isort==5.10.1 ; python_version >= "3.10" and python_version < "4.0"
jinja2-time==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.3 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.17.3 ; python_version >= "3.10" and python_version < "4.0"
lazy-object-proxy==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
molecule-docker==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
molecule==4.0.4 ; python_version >= "3.10" and python_version < "4.0"
molecule[docker]==4.0.4 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
netaddr==0.8.0 ; python_version >= "3.10" and python_version < "4.0"
nodeenv==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.10"
platformdirs==2.6.0 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
pre-commit==2.20.0 ; python_version >= "3.10" and python_version < "4.0"
pycodestyle==2.10.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pyflakes==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.13.0 ; python_version >= "3.10" and python_version < "4.0"
pylint==2.15.8 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "4.0"
pyrsistent==0.19.2 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-slugify==7.0.0 ; python_version >= "3.10" and python_version < "4.0"
pywin32==305 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.10" and python_version < "4"
resolvelib==0.8.1 ; python_version >= "3.10" and python_version < "4.0"
rich==12.6.0 ; python_version >= "3.10" and python_version < "4.0"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.10"
ruamel-yaml==0.17.21 ; python_version >= "3.10" and python_version < "4.0"
selinux==0.2.1 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux" or python_version >= "3.10" and python_version < "4.0" and sys_platform == "linux2"
setuptools==65.6.3 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
subprocess-tee==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_full_version < "3.11.0a7"
tomlkit==0.11.6 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "3.10"
urllib3==1.26.13 ; python_version >= "3.10" and python_version < "4"
virtualenv==20.17.1 ; python_version >= "3.10" and python_version < "4.0"
wcmatch==8.4.1 ; python_version >= "3.10" and python_version < "4.0"
websocket-client==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.14.1 ; python_version >= "3.10" and python_version < "4.0"
yamllint==1.28.0 ; python_version >= "3.10" and python_version < "4.0"
zipp==3.11.0 ; python_version >= "3.10"
