---
- name: debian | update package list
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: debian | installing pre-reqs
  ansible.builtin.apt:
    name: "{{ mariadb_pre_req_packages }}"
    state: "present"
  become: true
  loop:

- name: debian | adding MariaDB Repo Keys
  apt_key:
    keyserver: "{{ mariadb_debian_repo_keyserver }}"
    id: "{{ mariadb_debian_repo_key|string }}"
    state: "present"
  become: true
  when: galera_enable_mariadb_repo|bool and not mariadb_debian_repo_key_url is defined

- name: debian | adding MariaDB Repo Keys
  apt_key:
    url: "{{ mariadb_debian_repo_key_url }}"
    state: "present"
  become: true
  when: galera_enable_mariadb_repo|bool and mariadb_debian_repo_key_url is defined

- name: debian | pinning MariaDB Repo
  ansible.builtin.template:
    src: "etc/apt/preferences.d/mariadb.j2"
    dest: "/etc/apt/preferences.d/mariadb"
    mode: "0644"
  become: true
  when: galera_enable_mariadb_repo|bool

- name: debian | adding mariadb repo
  apt_repository:
    repo: "{{ mariadb_debian_repo }}"
    state: "present"
  become: true
  when: galera_enable_mariadb_repo|bool

- name: debian | precreate /etc/mysql/conf.d in case we need to add mariadb_config_overrides file
  ansible.builtin.file:
    path: "/etc/mysql/conf.d"
    state: "directory"
    mode: 0755
  become: true
  when: mariadb_config_overrides is defined

- name: debian | add an overrides file
  ansible.builtin.template:
    src: "etc/mariadb_overrides.cnf.j2"
    dest: "/etc/mysql/conf.d/overrides.cnf"
    mode: "0644"
  become: true
  when: mariadb_config_overrides is defined

- ansible.builtin.import_tasks: mariadb_packages_install.yml