---
- name: debian | update package list
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: debian | installing pre-reqs
  ansible.builtin.apt:
    name: "{{ mariadb_pre_req_packages }}"
    state: "present"
  become: true
  loop:

- name: debian | adding MariaDB repository
  ansible.builtin.deb822_repository:
    name: mariadb
    types: deb
    uris: "{{ mariadb_debian_repo }}"
    suites: "{{ ansible_facts['distribution_release'] | lower }}"
    components: main
    signed_by: "{{ mariadb_debian_repo_key }}"
    state: present
  become: true
  when: galera_enable_mariadb_repo|bool

- name: debian | precreate /etc/mysql/conf.d in case we need to add mariadb_config_overrides file
  ansible.builtin.file:
    path: "/etc/mysql/conf.d"
    state: "directory"
    mode: "0755"
  become: true
  when: mariadb_config_overrides is defined

- name: debian | add an overrides file
  ansible.builtin.template:
    src: "etc/mariadb_overrides.cnf.j2"
    dest: "/etc/mysql/conf.d/overrides.cnf"
    mode: "0644"
  become: true
  when: mariadb_config_overrides is defined

- ansible.builtin.import_tasks: mariadb_packages_install.yml
