---
- name: redhat | adding mariadb repo
  yum_repository:
    name: "mariadb"
    file: "MariaDB"
    description: "MariaDB"
    baseurl: "{{ mariadb_redhat_repo }}"
    gpgkey: "{{ mariadb_redhat_repo_key }}"
    gpgcheck: true
  become: true
  register: "repo_added"
  when:
    - galera_enable_mariadb_repo | bool

- name: redhat | adding epel repo
  yum_repository:
    name: "epel"
    file: "epel"
    description: "epel"
    metalink: "{{ epel_redhat_repo }}"
    gpgkey: "{{ epel_redhat_repo_key }}"
    gpgcheck: true
  become: true
  register: "epel_repo_added"
  when:
    - ansible_distribution_major_version is version('8', '>=')

# fix for conflicting package from appstream
- name: redhat | disable appstream mysql/mariadb modules
  command:
    cmd: "dnf -y module disable mysql mariadb"
  changed_when: false
  become: true
  when:
    - ansible_distribution_major_version is version('8', '==')
    - galera_enable_mariadb_repo | bool

- name: redhat | clean dnf metadata (centos8 & fedora)
  shell: "dnf clean all && rm -r /var/cache/dnf"
  changed_when: false
  become: true
  when:
    - repo_added.changed
    - ansible_distribution_major_version is version('8', '>=')
    - galera_enable_mariadb_repo | bool

- name: redhat | installing pre-reqs
  yum:
    name: "{{ mariadb_pre_req_packages }}"
    state: "present"
    update_cache: true
  become: true

- name: redhat | precreate /etc/my.cnf.d in case we need to add mariadb_config_overrides file
  file:
    path: "/etc/my.cnf.d"
    state: "directory"
    mode: 0755
  become: true
  when: mariadb_config_overrides is defined

- name: redhat | add an overrides file
  template:
    src: "etc/mariadb_overrides.cnf.j2"
    dest: "/etc/my.cnf.d/overrides.cnf"
    owner: "root"
    group: "root"
    mode: 0644
  become: true
  when: mariadb_config_overrides is defined

- name: redhat | installing mariadb mysql
  yum:
    name: "{{ (galera_sst_method == 'mariabackup') | ternary( mariadb_packages | union( mariabackup_packages ), mariadb_packages ) }}"
    state: "present"
    update_cache: true
  become: true

- name: redhat | remove migrated-from-my.cnf-settings.conf that is causing MariaDB to not start
  file:
    path: "/etc/systemd/system/mariadb.service.d/migrated-from-my.cnf-settings.conf"
    state: "absent"
  become: true
  notify: reload systemd daemon

- name: redhat | ensuring mariadb mysql is enabled on boot
  service:
    name: "mariadb"
    enabled: true
  become: true
