---
- ansible.builtin.import_tasks: max-open-files.yml
  when: >
    ansible_facts['service_mgr'] == "systemd" and
    mariadb_max_open_files != 0

- ansible.builtin.import_tasks: oom-score-adjust.yml
  when: >
    ansible_facts['service_mgr'] == "systemd" and
    mariadb_oom_score_adjust != 0

- ansible.builtin.import_tasks: timeout-start-sec.yml
  when: >
    ansible_facts['service_mgr'] == "systemd" and
    mariadb_timeout_start_sec != 0

# Borrowed from percona xtradb cluster ansible role:
# https://github.com/cdelgehier/ansible-role-XtraDB-Cluster/blob/master/tasks/bootstrap.yml
# Many thanks to Cedric DELGEHIER
- name: system_perfromance_tuning | configure swappiness
  ansible.posix.sysctl:
    name: "vm.swappiness"
    value: "{{ mariadb_swappiness }}"
    state: "present"
  become: true
  when:
    - mariadb_swappiness != 'auto'
    - "not (
      (ansible_facts['virtualization_role'] == 'guest')
      and (ansible_facts['virtualization_type'] == 'lxc')
      )"
