[mysqld]
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

#
# Allow server to accept connections on this interface
#
bind-address={{ mariadb_bind_address }}

{% if mariadb_charset_server | default('auto') != 'auto' %}
character-set-server  = {{ mariadb_charset_server }}
init-connect          = 'SET NAMES {{ mariadb_charset_server }}'
{% endif %}
{% if mariadb_collation_server | default('auto') != 'auto' %}
collation-server      = {{ mariadb_collation_server }}
{% endif %}

{% if mariadb_innodb_buffer_pool_size | default('auto') != "auto" %}
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
{% endif %}
{% if mariadb_innodb_read_io_threads | default('auto') != "auto" %}
innodb_read_io_threads = {{ mariadb_innodb_read_io_threads }}
{% endif %}
{% if mariadb_innodb_write_io_threads | default('auto') != "auto" %}
innodb_write_io_threads = {{ mariadb_innodb_write_io_threads }}
{% endif %}
{% if mariadb_max_connections | default('auto') != "auto" %}
max_connections = {{ mariadb_max_connections }}
{% endif %}
{% if mariadb_slow_query_log_enabled %}
slow_query_log
{% endif %}
{% if mariadb_long_query_time | default('auto') != "auto" %}
long_query_time = {{ mariadb_long_query_time }}
{% endif %}

{% if mariadb_tls_files and mariadb_tls_files|length == 3 %}
ssl_ca = {{ mariadb_certificates_dir }}/{{ mariadb_tls_files.ca_cert.name }}
ssl_cert = {{ mariadb_certificates_dir }}/{{ mariadb_tls_files.server_cert.name }}
ssl_key = {{ mariadb_certificates_dir }}/{{ mariadb_tls_files.server_key.name }}
{% endif %}

[galera]
wsrep_on=ON
wsrep_node_name={{ ansible_hostname }}
wsrep_provider={{ galera_wsrep_provider }}
wsrep_cluster_name="{{ galera_cluster_name }}"
{% set _galera_cluster_node_addresses = [] %}
{% for node in groups[ galera_cluster_nodes_group ] %}
{%   set _ = _galera_cluster_node_addresses.append( hostvars[node]['galera_cluster_bind_address'] | default(hostvars[node]['ansible_' ~ galera_cluster_bind_interface]['ipv4']['address']) | mandatory ) %}
{% endfor %}
#wsrep_cluster_address="{{ 'gcomm://' ~ _galera_cluster_node_addresses | map('ansible.utils.ipwrap') | list | join(',') }}"
# To start failed cluster comment out above and uncomment below...Once cluster is started revert changes and restart mysql on main node where change was made
wsrep_cluster_address="gcomm://"

wsrep_sst_method={{ galera_sst_method }}
{% if galera_sst_method == 'mariabackup' %}
wsrep_sst_auth="{{ mariadb_sst_username }}:{{ mariadb_sst_password }}"
{% endif %}

{% if galera_wsrep_slave_threads == "auto" %}
wsrep_slave_threads={{ 1 if (ansible_processor_vcpus <= 1) else (ansible_processor_vcpus - 1) }}
{% else %}
wsrep_slave_threads={{ galera_wsrep_slave_threads }}
{% endif %}
#innodb_flush_log_at_trx_commit=0

{% if galera_enable_galera_monitoring_script %}
wsrep_notify_cmd='{{ galera_monitor_script_path }}/{{ galera_monitor_script_name }}'
{% endif %}

wsrep_node_address="{{ galera_wsrep_node_address }}"

wsrep_provider_options = "{% for item in galera_extra_wsrep_provider_options %}{% set _key = item.split(': ')[0] %}{% set _val = galera_extra_wsrep_provider_options[_key] %}{{ _key }} = {{ _val }}{% if not loop.last %}; {% endif %}{% endfor %}"

[sst]
{% if mariadb_tls_files and mariadb_tls_files|length == 3 and galera_sst_tls_enabled  %}
encrypt=3
tcert = {{ mariadb_certificates_dir }}/{{ mariadb_tls_files.server_cert.name }}
tkey = {{ mariadb_certificates_dir }}/{{ mariadb_tls_files.server_key.name }}
{% endif %}
