---
name: Verification
on:
  push:
    branches-ignore:
      - main
      - master
  pull_request:
    branches:
      - develop
      - main
      - master
jobs:
  pre-commit:
    name: pre-commit Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pre-commit
      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.0
  molecule:
    name: Molecule Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        molecule_distro:
          # - alpine313
          # - alpine314
          # - centos7
          # - centos8
          # - debian8
          - debian10
          - debian11
          - debian12
          # - fedora
          # - fedora34
          # - fedora35
          - rocky8
          - rocky9
          # - ubuntu1604
          - ubuntu1804
          - ubuntu2004
          - ubuntu2204
        python-version: [3.10]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt
          pip install pre-commit
      - name: Test with molecule
        run: |
          molecule test --scenario-name ${{ matrix.molecule_distro }}
